:root {
  --primary-color: #ffcc00;
  --secondary-color: #ff6633;
  --text-color: #333;
  --bg-color: #f8f8f8;
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  border-radius: 1rem;
  height: 1rem;
  width: 15%;
  margin-left: 10px;
  padding: 0;
  background-color: var(--bg-color);
caret-color: black;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #4CAF50;
  border-radius: 1rem;
  cursor: pointer;
}

/* Fonts */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #999999
}

img {
    align-items: center;
}
