*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #ADADAD;
  margin: 0;
}

.image-editor {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "loading sidebar"
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #ADADAD;
}

.main-image {
  grid-area: image;
  width: auto;
  height: 75vh;
  display: flex;
  justify-content: center;

}

.side-menu {
  grid-area: sidebar;
  background-color: #ABCDEF;
  border-left: 1px solid indigo;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.side-menu-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ABCDEF;
  padding: 1rem;
  position: relative;
  transition: background-color 400ms;
}

.side-menu-item:hover {
  background-color: #89ABCD;
}

.side-menu-item-active {
  background-color: #89ABCD;
  padding: 1rem;
}

.side-menu-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: indigo;
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.loading {
    grid-area: loading;
}
